html {
    box-sizing: border-box;
}

html *,
html *:before,
html *:after {
    box-sizing: inherit;
}

body {
    color:#616161;
    font:16px Roboto, Arial, Helvetica, sans-serif;
    background:#fff;
    width: 100%;
    overflow-x: hidden;
}


a {
    color:#616161;
    text-decoration: none;
    -webkit-transition: color 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: color 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

a:hover {
    color: #22a24f;
}


h1,
h2,
h3,
h4,
h5,
ul,
p {
    padding: 0;
    margin: 35px 0;
    text-align: center;
}

h1 {
    font-size: 160px;
    line-height: 130px;
    font-weight: 900;
    letter-spacing: 4px;
    color: #fff;
    text-transform: uppercase;
}

h2 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}

h3 {
    font-size: 50px;
    line-height: 74px;
    font-weight: 100;
    color: #1a1a1a;
}

h4 {
    font-size: 45px;
    line-height: 50px;
    font-weight: 100;
    font-style: italic;
    color: #fff;
}

h5 {
    font-size: 25px;
    font-weight: 500;
    line-height: 27px;
    color: #fff;
}

p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
}

.navbar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 2%;
    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.6);
    z-index: 1000;
    color: #fff;
}

.logo-pazaka a {
    height: 55px;
    width: 125px;
    display: block;
    margin: 0 auto;
}

.navbar ul {
    list-style: none;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    margin:0;
}

.navbar li {
    display: inline-block;
    padding: 16px 0;
    text-align: center;
    min-width: 205px;
}

.navbar img:hover {
    transform: scale(1.1);
    ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.navbar img {
    transition: transform .40s ease;
}

.btn {
    display: inline-block;
    padding: 8px 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color .40s ease;
    -moz-transition: background-color .40s ease;
    -o-transition: background-color .40s ease;
    1transition: background-color .40s ease;
}

.btn-outline {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}


.btn:hover {
    color: #fff;
    background-color: #69eac4;
    border-color: #69eac4;
}

.btn:active {
    background-color: #4daa8e;
    border: #69eac4;
}

@media only screen and (max-width: 767px) {
    .contact-info{
    display: none;
    }
}

#toTop {
    display: none;
    position: fixed;
    left: 0;
    bottom: 50px;
    z-index: 999;
}

.toTop-btn {
    height: 70px;
    width: 70px;
    margin: 10px 20px;
    padding: 24px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: #585858 solid 1px;
     -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background-color .40s ease;
    -moz-transition: background-color .40s ease;
    -o-transition: background-color .40s ease;
    1transition: background-color .40s ease;
}

#arrow-up {
    border-top: 1px solid #585858;
    border-right: 1px solid #585858;
    width: 20px;
    height: 20px;
    margin-top: 8px;
    transform: rotate(-45deg);
}

.toTop-btn:hover {
    background: rgba(0, 0, 0, 0.1);
}

.toTop-btn:active {
    background: rgba(0, 0, 0, 0.5);
}

.first {
    background: #000 url(../img/background-1.jpg) no-repeat;
    background-size: cover;
    padding: 180px 0;
    text-align: center;
}

.examples {
    padding: 85px 0;
    background-color: white;
}

.examples li{
    list-style: none;
    margin-bottom: 45px;
}

.examples img:hover {
    opacity: 1;
    -webkit-transform: scale(1.05) translateZ(0);
    -ms-transform: scale(1.05) translateZ(0);
    transform: scale(1.05) translateZ(0);
    -webkit-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: .75s cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;
    box-shadow: 0 10px 40px 3px rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.examples img {
    transition: transform .5s ease;
    opacity: .8;
}

 

.handmade {
    background: #000 url(../img/background-2.jpg) no-repeat;
    background-size: auto;
    text-align: center;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.handmade h4 {
    margin: 20px 0;
}

.handmade p {
    margin: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.handmade .btn {
    padding: 8px 25px;
}

.sketch {
    margin-top: 550px;
}

.sketch p {
    margin: 10px 0;
    font-size: 21px;
    line-height: 35px;
}

.sketch span {
    font-weight: 500;
}

.formats {
    background: #fff url(../img/background-3.jpg) no-repeat;
    background-size: auto;
    background-position-y: 60px; 
    height: 770px;
    padding-top: 70px;
    padding-bottom: 100px;
}

.formats li {
    list-style: none;
}

.formats p {
    margin: 0;
    font-size: 20px;
    line-height: 22px;
    font-weight: 300;
    color: #1a1a1a;
}

.small-portreit {
    margin-left: 68px;
}

.feedback {
    padding-top: 70px;
    padding-bottom: 100px;
}

.feedback p {
    text-align: left;
    margin-top: 0;
}

.face-left {
    float: left;
    position: inherit;
    top: -10px;
    left: -10px;
}

.face-right {
    float: right;
    position: inherit;
    top: -10px;
    right: -10px;
}

.name {
    font-size: 21px;
    margin-bottom: 10px;

}

.city {
    font-size: 16px;
    margin-bottom: 20px;
}

.socio {
    font-size: 16px;
    color: #004d78;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 10px;
}

.view {
    font-size: 16px;
    color: #4DAA72;
    font-style: italic;
}

.feedback-cont {
    font-weight: 500;
    margin: 40px 0 !important;
}

.footer {
    background: #262626 url(../img/background-footer-6x6.png);
    padding: 50px 0;
}

.footer img {
    margin: 0 auto;
}

.soc-nets img {
    opacity: .7;
}

.soc-nets img:hover {
    opacity: 1;
}

.footer p,
h4,
h5,
ul {
    margin: 20px 0;
    letter-spacing: 1px;
}

.footer p {
    color: #fff;
    font-weight: 300;
}

.footer h5 {
    color: #fff;
    font-weight: 500;
}

.footer li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

.abzats {
    margin-top: 0 !important;
    text-align: left;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .3s linear;
       -o-transition: opacity .3s linear;
          transition: opacity .3s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
       -o-transition-property: height, visibility;
          transition-property: height, visibility;
}